@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-main: "Poppins", "sans-serif";
  --font-text: "Inter", "sans-serif";
  --color-primary: #db4545;
  --color-secondary: #141313;
  --color-tertiary: #f2f2f2;
  --color-quaternary: #ffffff;
  --color-quinary: #c5c5c5;
}

@layer base {
  html,
  body {
    @apply h-full w-full;
  }
  h1 {
    @apply font-main font-extrabold text-5xl;
  }
  h2 {
    @apply font-main font-bold text-4xl;
  }
  p {
    @apply font-text text-tertiary;
  }
  a {
    @apply font-text text-tertiary;
  }
  input {
    @apply bg-tertiary rounded-2xl h-10 p-4;
  }
}
